@font-face {
  font-family: stylequeen;
  src: url(/font/StyleQueens.ttf);
}

body {
  background-color: #f9f3ee;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  /* max-width: 900px; */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-left: 2em;
  margin-top: 5em;
  width: 60%;
  color: #9e9380;
  font-family: stylequeen;
  font-size: 3rem;
}

body header img:nth-of-type(1) {
  position: absolute;
  height: 6em;
  padding: 2em;
  left: 1em;
  top: 1em;
}

body main section:nth-of-type(1) img:nth-of-type(1) {
  margin-left: 40%;
  position: absolute;
  margin-top: 5em;
  z-index: 100;
}

body main section:nth-of-type(1) img:nth-of-type(2) {
  position: absolute;
  width: 37%;
  margin-left: 35em;
  margin-top: 7em;
}

body main section:nth-of-type(1) img:nth-of-type(3) {
  width: 100%;
  margin-top: 25em;
}

body main section:nth-of-type(1) div {
  position: absolute;
  width: 20em;
  height: 23em;
  background-color: #9c937e;
  border-radius: 10px 0px 0px 10px;
  margin-top: 7em;
  margin-left: 5em;
  opacity: 83%;
}

#fixed {
  position: fixed;
  background-color: #f9f3ee;
}

body main article {
  width: 40%;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  height: 500px;
  font-family: Avenir, Arial, sans-serif;
}

#book {
  height: 400px;
  width: 265px;
}

#root {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 100%;
}

.bord {
  background-image: url("../images/bord.png");
  background-repeat: no-repeat;
  background-size: 450px 450px;
  height: 500px;
  width: 500px;
}

.bord img {
  margin-left: 30%;
  margin-top: 20%;
}

.bord img:hover {
  transform: scale(1.3);
}

.infoh2 {
  color: white;
  margin-left: 1.5em;
  margin-top: 1.5em;
  font-weight: 800;
  opacity: 50%;
}

.infop {
  color: white;
  margin-left: 2em;
  margin-top: 1.5em;
  width: 70%;
  font-size: 1.3rem;
}
